<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Short videos</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <!-- Phần Chức Năng Bên Trái -->
        <div class="sidebar">
            <h2>Features</h2>
            <ul>
                <li><a href="/text-to-speech">Text to Videos</a></li>
                <li><a href="/short-videos">Short videos</a></li>
            </ul>
        </div>
        <div class="main-content">
            <h1>Short videos</h1>
            <form id="textForm">
                <textarea id="textInput"  placeholder="Enter your text here..."></textarea>
            <br>
                <button type="submit">Generate</button>
            </form>
            <div class="progress-container">
                <progress id="progressBar" value="0" max="100"></progress>
                <span id="progressPercent">0%</span>
            </div>
             <div class="center" id="message">
                <label id="messageLabel"></label>
            </div>
        </div>
        <div id="dynamic-content">
        </div>

    </div>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script>
        
        


        document.querySelector('a[href="#help"]').addEventListener('click', function(event) {
            event.preventDefault(); 
            fetch('./templates/my_project.html')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Failed to load HTML file');
                    }
                    return response.text();
                })
                .then(html => {
                    document.getElementById('dynamic-content').innerHTML = html; 
                })
                .catch(error => {
                    console.error('Error loading HTML:', error);
                });
        });

        const socket = io.connect('http://127.0.0.1:5000');

        socket.on('connect', () => {
            console.log('Connected to server via socket.io 222');
        });


        socket.on('progress', (data) => {
            console.log('Progress:', data.progress);
            const progressBar = document.getElementById("progressBar");
            const progressPercent = document.getElementById("progressPercent");
            progressBar.value = data.progress;
            progressPercent.textContent = `${data.progress}%`;
        });


        document.getElementById("textForm").addEventListener("submit", function(event) {
            event.preventDefault();
            const text = document.getElementById("textInput").value;
            document.getElementById("messageLabel").textContent = 'processing...';
            console.log('Data:',1);
            fetch('/text-to-speech', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ text: text })
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById("messageLabel").textContent = data.message;
                console.log('Data:',2);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });


    </script>
</body>
</html>
